<app-menu></app-menu>
<div class="container">
    <h1>Lista de Livros</h1>

    <table class="table">

        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th></th>
        </tr>

        <tr *ngFor="let livro of itens">
            <td>{{livro.titulo}}</td>
            <td>{{livro.preco | currency:'BRL'}}</td>
            <td><a [routerLink]="['/livros/',livro.id]" class="btn btn-primary">Visualizar</a></td>
        </tr>
    </table>

    <a [routerLink]="['/livros/new']" class="btn btn-primary">Novo</a>

    

</div>